In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('stem_final.csv')

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', 20)

In [4]:
df

,Unnamed: 0,Unnamed: 0.1,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,income,stockgrantvalue,bonus,gender,rowNumber,Race_Two_Or_More,Race_Hispanic,City,state,race,hispanic,education,date,year
0,15462,15710,2020-01-27 22:59:06,Google,L6,Software Engineer,400000,"Sunnyvale, CA",5.0,5.0,Distributed Systems (Back-End),210000.0,145000.0,45000.0,Male,21208,0,0,Sunnyvale,CA,Asian,No,Graduate,2021-08-02,2021
1,23030,23532,2020-07-03 19:56:38,Microsoft,61,Software Engineer,136000,"Redmond, WA",3.0,2.0,DevOps,124000.0,1000.0,11000.0,Male,32237,1,0,Redmond,WA,Two or more,No,Bachelors,2021-08-02,2021
2,23031,23533,2020-07-03 20:03:57,Google,L5,Software Engineer,337000,"San Bruno, CA",6.0,6.0,Full Stack,177000.0,125000.0,36000.0,Male,32239,0,0,San Bruno,CA,Asian,No,Bachelors,2021-08-02,2021
3,23032,23534,2020-07-03 20:05:37,Microsoft,62,Software Engineer,222000,"Seattle, WA",4.0,4.0,API Development (Back-End),164000.0,38000.0,20000.0,Male,32240,0,0,Seattle,WA,Asian,No,Graduate,2021-08-02,2021
4,23033,23535,2020-07-03 20:19:06,Blend,IC3,Software Engineer,187000,"San Francisco, CA",5.0,0.0,Full Stack,165000.0,22000.0,0.0,Male,32241,0,0,San Francisco,CA,White,No,Bachelors,2021-08-02,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13147,58935,61828,2021-08-17 07:50:25,Raytheon Technologies,P2,Software Engineer,95000,"Portsmouth, RI",3.0,3.0,Distributed Systems (Back-End),90000.0,0.0,5000.0,Male,83865,0,0,Portsmouth,RI,White,No,Bachelors,2021-08-02,2021
13148,58937,61830,2021-08-17 08:16:36,Amazon,L6,Product Manager,241000,"Seattle, WA",9.0,0.0,Analytic,150000.0,46000.0,45000.0,Female,83870,0,0,Seattle,WA,Asian,No,Bachelors,2021-08-02,2021
13149,58941,61834,2021-08-17 08:28:57,Adobe,Software Engineer 5,Product Designer,300000,"San Francisco, CA",5.0,0.0,User Experience (UX),180000.0,100000.0,20000.0,Male,83875,0,0,San Francisco,CA,Asian,No,Bachelors,2021-08-02,2021
13150,59083,61976,2020-11-09 20:27:59,Snap,L5,Software Engineering Manager,1400000,"Los Angeles, CA",5.0,4.0,Security,235000.0,1165.0,0.0,Male,48059,0,0,Los Angeles,CA,White,No,Bachelors,2021-08-02,2021
13151,59088,61981,2021-02-15 19:50:36,Facebook,M2,Software Engineering Manager,1470000,"Menlo Park, CA",9.0,7.0,Full Stack,290000.0,1100.0,80000.0,Male,57762,0,0,Menlo Park,CA,Asian,No,Bachelors,2021-08-02,2021

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'timestamp', 'company', 'level', 'title',
       'totalyearlycompensation', 'location', 'yearsofexperience',
       'yearsatcompany', 'tag', 'income', 'stockgrantvalue', 'bonus', 'gender',
       'rowNumber', 'Race_Two_Or_More', 'Race_Hispanic', 'City', 'state',
       'race', 'hispanic', 'education', 'date', 'year'],
      dtype='object')

In [6]:
df_google = df[df['company'] == 'Google']
#df_google = df_google[['level', 'title']]
#df_google['level'].value_counts().sort_index()
#df_google

In [28]:
#base level dictionary based around google levels
google_level_dict = {'2':'intern', '3':'entry', '4':'intermediate',
             '5':'senior', 'Engineering Resident':'intern', 'L1':'intern',
             'L2':'intern', 'L3':'entry', 'L3 software engineer':'entry',
             'L4':'intermediate', 'L5':'senior', 'L6':'manager',
             'L7':'senior manager', 'Manager (L6)':'manager', 'SWE II':'entry',
             'Senior Sales Executive':'executive', 'l3':'entry',
             'l4':'intermediate', 'l5':'senior'}

df_google = df_google.replace({'level':google_level_dict})
#df_google['level'].value_counts()

intermediate      324
entry             279
senior            196
manager            24
intern             10
senior manager      4
executive           1
Name: level, dtype: int64

In [8]:
#pd.DataFrame(df['company'].value_counts()).reset_index()

In [9]:
df_amazon = df[df['company'] == 'Amazon']
#df_amazon['level'].value_counts()
#df_amazon = df_amazon[['level', 'title']]
#df_amazon['level'].value_counts().sort_index()

In [10]:
amazon_level_dict = {'2':'intern', '3':'intern', '4':'entry', '5':'intermediate', 
             '6':'senior', '60':'senior', '7':'manager', 'IC5':'intermediate',
             'Intern':'intern', 'L1':'intern', 'L2':'intern', 'L3':'intern', 
             'L4':'entry', 'L5':'intermediate', 'L5 SDM':'intermediate',
             'L5 security':'intermediate', 'L6':'senior', 'L6 PM':'senior', 'L6 SDM':'senior',
             'L7':'manager', 'L8':'senior manager', 'SDE I':'entry', 'SDE II':'intermediate',
             'SDE III':'senior', 'SDE Newgrad':'intern', 'SDE1':'entry', 'SDE2':'intermediate',
             'SDEI':'entry', 'Senior Product Manager':'senior manager', 'Senior SDE':'senior',
             'Sr Product Manager':'senior manager', 'l2':'intern', 'l3':'intern',
             'l4':'entry', 'l5':'intermediate', 'l7':'manager', 'level 5':'intermediate',
             'new grad':'intern', 'Level 2':'intern', '6.5':'senior'}

df_amazon = df_amazon.replace({'level':amazon_level_dict})
#df_amazon['level'].value_counts()

In [11]:
df_microsoft = df[df['company'] == 'Microsoft']
df_microsoft_2 = df_microsoft[['level', 'title']]
#df_microsoft_2['level'].value_counts().sort_index()

In [12]:
microsoft_level_dict={'59':'entry', '60':'entry', '61':'intermediate', '62':'intermediate',
                     '63':'senior', '64':'senior', '65':'senior', '66':'manager',
                     '67':'manager', '68':'senior manager', 'Apprentice':'intern', 
                     'Designer (external vendor)':'other', 'I61':'intermediate', 'L1':'intern',
                     'L2':'intern', 'L3':'entry', 'L5':'senior', 'L58':'intern', 'L59':'entry',
                     'L60':'entry', 'L61':'intermediate', 'L62':'intermediate',
                     'L63':'senior', 'L64':'senior', 'L65':'senior',
                     'Level 61':'intermediate', 'PM 2':'intermediate', 'Principal PM':'senior',
                     'SDE':'entry', 'SDE 59':'entry', 'SDE II':'intermediate',
                     'Senior SDE':'senior', 'l63':'senior'}

df_microsoft = df_microsoft.replace({'level':microsoft_level_dict})
#df_microsoft['level'].value_counts()

In [13]:
df_facebook = df[df['company'] == 'Facebook']
df_facebook_2 = df_facebook[['level', 'title']]
#df_facebook_2['level'].value_counts().sort_index()

In [14]:
facebook_level_dict={'E3':'entry', 'E4':'intermediate', 'E5':'senior', 'E6':'manager',
                    'E7':'senior manager', 'IC1':'intern', 'IC3':'entry', 'IC4':'intermediate',
                    'IC5':'senior', 'IC6':'manager', 'IC7':'senior manager', 
                    'Ic4':'intermediate', 'Ic5':'senior', 'L3':'entry', 'L4':'intermediate',
                    'L4 Product Designer':'intermediate', 'L4 Product Manager':'manager',
                    'L4 Project Manager':'manager', 'L5':'senior',
                    'L5 Product Manager':'manager', 'L5 Program Manager':'manager',
                    'L6':'manager', 'L6 Product Manager':'senior manager', 
                    'L7':'senior manager', 'L7 Product Manager':'senior manager',
                    'Rotational Product Manager (RPM)':'manager', 'M0':'manager',
                    'M1':'manager', 'M2':'senior manager'}


#'intern', 'entry', 'intermediate', 'senior', 'manager', 'senior manager'
df_facebook = df_facebook.replace({'level':facebook_level_dict})
#df_facebook['level'].value_counts()

In [15]:
df_apple = df[df['company'] == 'Apple']
df_apple_2 = df_apple[['level', 'title']]
#df_apple_2['level'].value_counts().sort_index()

In [16]:
apple_level_dict={'4':'senior', 'ECDP':'intern', 'IC2':'entry', 'IC3':'intermediate',
                 'IC4':'senior', 'IC5':'manager', 'ICT 2':'entry', 'ICT2':'entry',
                 'ICT3':'intermediate', 'ICT4':'senior', 'ICT5':'manager', 'IST1':'intern',
                 'Ict3':'intermediate', 'Individual Contributor 3':'intermediate',
                 'Intern':'intern', 'L2':'entry', 'L3':'intermediate', 'L4':'senior',
                 'L5':'manager', 'LC2':'entry', 'M1':'manager', 'M2':'senior manager',
                 'M3':'senior manager', 'Software Engineer':'entry',
                 'Software Integrity Eng 4':'senior', 'Support 3':'intermediate'}


#'intern', 'entry', 'intermediate', 'senior', 'manager', 'senior manager'
df_apple = df_apple.replace({'level':apple_level_dict})
#df_apple['level'].value_counts()

In [17]:
df_oracle = df[df['company'] == 'Oracle']
df_oracle_2 = df_oracle[['level', 'title']]
#df_oracle_2['level'].value_counts().sort_index()

In [18]:
oracle_level_dict={'1':'entry', 'Consulting MTS':'intermediate', 'Director':'executive',
                  'Group Product Manager':'manager', 'IC-1':'entry', 'IC-2':'entry',
                  'IC-3':'intermediate', 'IC-4':'senior', 'IC-5':'manager', 'IC1':'entry',
                  'IC2':'entry', 'IC3':'intermediate', 'IC4':'senior', 'IC5':'manager',
                  'Ic2':'entry', 'Ic3':'entry', 'L1':'entry', 'L3':'intermediate',
                  'L4':'senior', 'LC-1':'entry', 'M2':'manager', 'M3':'manager',
                  'M4':'senior manager', 'Memeber of Techinical Staff':'intermediate',
                  'Principal':'senior manager', 'Principal MTS':'senior manager', 
                  'Senior MTS':'senior', 'ic3':'intermediate'}


#'intern', 'entry', 'intermediate', 'senior', 'manager', 'senior manager'
df_oracle = df_oracle.replace({'level':oracle_level_dict})
#df_oracle['level'].value_counts()

In [19]:
levels_df = df[df['company'] != 'Google']
levels_df = levels_df[levels_df['company'] != 'Microsoft']
levels_df = levels_df[levels_df['company'] != 'Amazon']
levels_df = levels_df[levels_df['company'] != 'Apple']
levels_df = levels_df[levels_df['company'] != 'Facebook']
levels_df = levels_df[levels_df['company'] != 'Oracle']

In [20]:
part_finished_df=pd.concat([levels_df, df_oracle, df_apple, df_facebook, df_microsoft, df_amazon, df_google])

In [21]:
#levels_df
#part_finished_df

In [22]:
#small_df = part_finished_df[['Unnamed: 0', 'income', 'yearsofexperience', 'yearsatcompany',
#            'title', 'level', 'education', 'gender', 'state', 'race', 'hispanic']]
part_finished_df = part_finished_df.rename(columns={'Unnamed: 0':'index'})

In [23]:
#part_finished_df = part_finished_df.drop(['Unnamed: 0.1', 'timestamp', 'location', 'tag',
                                        # 'stockgrantvalue', 'bonus', 'rowNumber',
                                         #'Race_Two_Or_More', 'Race_Hispanic', 'City', 
                                         #'date', 'year'], axis = 1, inplace=True)

In [24]:
#levels_df = pd.DataFrame(small_df['level'].value_counts()).reset_index()
#levels_df.to_csv("levels_values.csv")

In [30]:
part_finished_df['gender'].value_counts()

Male      10303
Female     2784
Other        65
Name: gender, dtype: int64

In [ ]:
pd.DataFrame(part_finished_df['level'].value_counts()).reset_index().head(10)

In [ ]:
overall_level_dict={'L2':'intern', 'L3':'entry', 'L4':'intermediate', 'L5':'senior',
                    'L6':'manager', 'L7':'senior manager', 'Senior Software Engineer':'senior',
                    'Software Engineer':'intermediate', 'Associate':'entry', 'Senior':'senior',
                    'L1':'intern', 'Manager':'manager', 'Senior Associate':'senior'}


#'intern', 'entry', 'intermediate', 'senior', 'manager', 'senior manager'
part_finished_df = part_finished_df.replace({'level':overall_level_dict})

In [ ]:
#part_finished_df.to_csv("stem_final_2.csv")